{% extends 'base.html.twig' %}

{% block body %}
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.email}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock body %}

